header {
  display: flex;
  width: 100vw;
  height: 10%;
  background-color: rgb(221, 221, 221);
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 10px 20px rgb(185, 185, 185);
}

header ul {
  display: flex;
  list-style: none;
  
}

header a {
  margin: 0 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(185, 185, 185);
  text-decoration: none;
  background-color: rgb(58, 0, 192);
  color: rgb(175, 255, 244);
}

header a:hover {
  background-color: rgb(0, 255, 170);
  color: blue;
  transition: .3s;
}