.skill li{
  list-style: none;
  background-color: rgb(0, 255, 170);
  color: blue;
  padding: 15px;
  margin: 5px;
  border-radius: 10px;
  width: 20%;
  height: 10%;
}

.skill li:hover {
  background-color: rgb(76, 0, 255);
  color: rgb(88, 255, 233);
  transition: .3s;
}

.skillSection{
  display: flex;
  margin: 0 5%;
  text-align: center;
}
.skill ul{
  display: flex;
  flex-wrap: wrap;
}

.skillMain {
  background-color: rgb(221, 221, 221);
  margin: 0 2%;
  padding: 30px;
  border-radius: 0 0 50px 50px;
  box-shadow: 10px 10px 20px rgb(185, 185, 185);
}